div {
    border:2px black solid;
}
/*nav menu on top*/
.nav-link{
    font-size: 1.5em;
    align-items: center;
    background-color:#213140;
    display: block;
}
#logo{
    background-color:#213140;
}
body {
    font: 1.5rem/1.5 var(--font-family-sans-serif);
    color: var(--white);
  }
h5{
    letter-spacing: 3px;
}
  
/*main picture background */
.bg-image-container {
    background-image: url(../img/background.jpeg);
    height: 45em;
    width: 81em;
    background-size:cover;
    background-repeat: no-repeat;
}
/*style of the images from portfolio*/
.card-img-top{
    width: 22rem;
    height: 17rem;
}

/*SECTIONS*/

#navbarSupportedContent{
    background-color:#213140;
    font: 1.5rem/1.5 var(--font-family-sans-serif);
    color: var(--white);
    color:transparent;
    font-weight: bold;
}

/*about me section*/
.text-container-about{
    background-color: #262626;
    padding:5rem;
    text-align: justify;
    line-height: 1.6;
}

/*portfolio section*/
.text-container-portfolio {
    background-color:#404040;
    padding:5rem;
    text-align: justify;
    line-height: 1.6;
}
.container-portfolio{
    display:flex;
    align-content: center;
    padding:5rem;
    margin:10px;
}
/*skills section*/

.text-container-skills{
    background-color:#8C8C8C;
    align-content: center;
    padding:5rem;
}
.text-container-help {
    background-color:#8C8C8C;
    align-items: center;
}
/*inside the cards*/
.card-body {
    color: var(--blue);
    font-size: 1.5rem;
}
.card-title{
    font-size: 1.7rem;
    font-weight: bold;
}
/*style of the icons*/
i{
    font-size: 2rem;
}

/*contact me section*/
.text-container-contactme{
    margin-top: 30px;
    color: var(--white);
}
.social-icons {
    color:white;
    font-size: 3rem;
   
    }  
  .social-icons li {
    display:inline-block;
    list-style-type:none;
    -webkit-user-select:none;
    -moz-user-select:none;
    }
  .social-icons li a {
    border-bottom: none;
    }
  .social-icons li img {
    width:70px;
    height:70px;
    margin-right: 20px;
  }
  .fa:hover {
    opacity: 0.7;
  }
  .fa{
      font-size: 2rem;
      color: var(--white);
  }

  /*form*/
  .needs-validation{
      padding:50px;
  }

  .container-form{
    border-radius: 5px;
    background-color: transparent;
    padding:10rem;
    background-image: url(../img/hello3.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position:relative;
    object-fit: contain;
    text-align: center;
  }
  
  input[type=submit]:hover {
    background-color:#8C8C8C;
  }
  input[type=text], select, textarea {
    width: 50%;
    flex: auto;
    align-content: center;
    align-self: center;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  form{
      align-self: center;
      align-items: center;
  }

  /*goals section*/

  .text-container-goals{
      background-color: #001B26;
      flex-flow: row;
      align-content: center;
     padding:5rem;
     align-items: center;
     border:40px;
}
.card-goals{
    background-color: transparent;
}

  /*social icons*/

  .text-container-social{
      color:white;
      display:flex;
      justify-content: space-evenly;
  }

