div {
    
}
/*nav menu on top*/
.nav-link{
    font-size: 1.5em;
    align-items: center;
}
p{
    font-size: 25px;
}


/*main picture background */
.bg-image-container {
    background-image: url(../img/background.jpeg);
    height: 55em;
    width: 120em;
    background-size:cover;
    background-repeat: no-repeat;
}
/*style of the images*/
.card-img-top{
    width: 22rem;
    height: 17rem;
}
/*SECTIONS*/
#navbarSupportedContent{
    background-color:#213140;
    color:white;
}

.text-container-about{
    background-color: #E9EEF2;
   
}
.text-container-portfolio {
    background-color:#99ADBF;
  
}
.text-container-help {
    background-color:#405B73;
    
    align-items: center;
    
}
